@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body 
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	border: solid 1px black;
	margin: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: beige;
	font-family: 'ambleregular', Arial, Tahoma, Lucida;
	font-size: 10pt;
}

.page
{
	display: block;
	background-color: white;
}

.corps
{
	display: flex;
}

header
{
	display: flex;
}

img
{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.photo
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	background-color: #FECA07;
	height: 250px;
}

.pseudo
{
	color: #FECA07;
}
.name
{
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


h1
{
	padding-left: 80px;
	font-size: 30pt;
}

header h2
{
	padding-left: 80px;
	margin-top: -17px;
}

.line
{
	border-bottom: solid 2px #FECA07;
}

aside
{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #FECA07;
}

aside h2
{
	text-align: center;
	background-color: #404040;
	color: #FECA07;
	padding: 4px;
}

.about-me
{
	padding-top: 40px;
}
.contact p
{
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 20px;
}

.about-me p
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}

section
{
	width: 60%;
	margin-left: 80px;	
}

.headlines
{
	display: flex;
	align-items: center;
	border-bottom: solid 2px #FECA07;
}

.sec-one
{
	display: flex;
}

.headlines i
{
	margin-right: 30px;
	font-size: 28px;
}

.date
{
	display: flex;
	width: 25%;
	padding-top: 20px;
}

.position-date
{
	display: flex;
}


.text
{
	width: 75%;
}

footer
{
	display: flex;
}

.hobbies
{
	width: 30%;
	background-color: #FECA07;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 50px;
}

.hobbies h2
{
	color: #FECA07;
	padding: 4px;
}

aside h2, .hobbies h2
{
	text-align: center;
	background-color: #404040;
	
}


#icon
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#icon i 
{
	border: solid 1px #404040;
	border-radius: 50%;
	font-size: xx-large;
	padding: 10px;
}


.recommendation
{
	width: 65%;
}

.frame
{
	margin-left: 80px;
}

.foot-right
{
	display: flex;
}

.recommendation ul
{
	width: 50%;
}

ul
{
	list-style: none;
}

.fa-user-graduate
{
	color: #FECA07;
}

.fa-briefcase
{
	color: #FECA07;
}

.fa-pencil-alt
{
	color: #FECA07;
}

.fa-circle
{
	color: #FECA07;
	padding-right: 15px;
}

.fa-dot-circle
{
	color: #FECA07;
	padding-right: 15px;
}



@media all and (max-width: 1280px)
{
	body
	{
		margin: auto;
	}

	header
	{
		display: flex;
		flex-direction: column;

	}

	.photo
	{
		display: flex;
		width: auto;
		text-align: center;
	}

	.corps
	{
		display: flex;
		flex-direction: column;
	}

	aside
	{
		display: flex;
		width: auto;
	}

	section
	{
		display: flex;
		width: auto;
	}
	.sec-one
	{
		display: flex;
		flex-direction: column;
	}

	footer
	{
		display: flex;
		flex-direction: column;
	}

	.hobbies
	{
		width: auto;
		padding-bottom: 5px;
	}

	.recommendation
	{
		width: auto;
	}

	.section
	{
		width: auto;
	}

}


@media screen and (max-width: 780px)
{	
	body
	{
		margin: auto;
	}

	header
	{
		display: flex;
		flex-direction: column;

	}

	.photo
	{
		display: flex;
		width: auto;
		text-align: center;
	}

	.text
	{
		width: 100%;
	}

	.corps
	{
		display: flex;
		flex-direction: column;
	}

	aside
	{
		display: flex;
		width: auto;
	}

	section
	{
		display: flex;
		width: auto;
		margin-right: 5%;
	}
	.sec-one
	{
		display: flex;
		flex-direction: column;
	}

	footer
	{
		display: flex;
		flex-direction: column;
	}

	.hobbies
	{
		width: auto;
		padding-bottom: 5px;
	}

	.recommendation
	{
		width: auto;
		flex-direction: column;
		margin-right: 5%;
	}
	.recommendation ul
	{
		width: auto;
	}

	.foot-right
	{
		flex-direction: column;
	}
	.section
	{
		width: auto;
	}
{







